<% provide(:title, @user.name) %>
<%= form_with(model: @user, local: true, method: :patch) do |f| %>
  <div>
    <h1>施設予約画面</h1>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        
      </thead>
      <tbody>
       
      </tbody>
    </table>
  </div>
  <div class="center" style="margin-bottom: 20px;"><%= link_to "こちらから予約", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %></div>
  <div class="center">
    <%= f.submit "予約送信", class: "btn btn-lg btn-primary" %>
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
  </div>
<% end %>